

body {
    max-width: 210mm;
    max-height:297mm;
    font-size: 12px;
    box-sizing: border-box;
}

header {
    background-color: #929aad;
    color: #fff;
    width: 600px;
    height: 40px;
    line-height: 40px;
}

header a {
    font-size: 12px;
}

header li {
    display: inline-block;
    width: 190px;
    text-align: center;
}

.intro {
    position: relative;
    margin-top: 10px;
    height: 160px;
    width: 580px;
}

.img {
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
    width: 100px;
    height: 160px;
}

.info {
    position: absolute;
    top: 0;
    left: 120px;
    display: inline-block;
    height: 160px;
}

.info p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
}

.info .name {
    font-size: 20px;
    font-weight: 700;
}

.info .basic span {
    display: inline-block;
    width: 100px;
}

.info .job {
    font-weight: 700;
}

.info .selfintro {
    color: rgba(0, 0, 0, 0.5);

}

.intro img {
    width: 100px;
}

section {
    margin: 0 10px;
}

section .header {
    height: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border-bottom: solid 2px #929aad;
}

section .body p {
    line-height: 20px;
    font-size: 12px;
}

.work .body p {
    font-size: 12px;
}

section .body span {
    display: inline-block;
    padding-right: 30px;
    font-size: 12px;
}

section h4 {
    font-size: 14px;
    height: 22px;
    line-height: 25px;
    font-weight: 400;

}

.program h4 {
    font-weight: 700;
}

section a {
    color: #929aad;
}

.program p {
    position: relative;
}

.program p .demo {
    position: absolute;
    right: 120px;
    top: 0;
}

.program p .git {
    position: absolute;
    right: 60px;
    top: 0;
}

.work .body h4 span {
    display: inline-block;
    margin-right: 20px;
}