
body {
    max-width: 210mm;
    max-height: 297mm;
    font-size: 14px;
    line-height: 1.5;
    padding:20px 20px  0 20px;
    margin-left:auto;
    margin-right:auto;
 }
@media(max-width: 500px){
    body {
        font-size: 14px;
        padding: 12px;
    }
}
body  em{
  color:rgb(208, 181, 52);
  margin-left:4px;
  margin-right:4px;
    font-weight: 600;
    font-size: 14px;
  }

header {
    display:flex;
    flex-wrap:wrap ;
    font-weight:600;
    justify-content:space-between;
   border-bottom :2px solid rgb(69, 109, 109);
  
}
header li{
  display:inline-block;
  padding:6px;
  text-align: center;
  
}
@media(max-width: 500px){
    header li{
        padding:6px;
    }
}
header li a {
    font-size: 14px;
    color:rgb(88, 132, 202)
}


.intro {
    display:flex;
    margin-top: 5px;
    justify-content:flex-start;
}
@media(max-width: 500px){
    .intro {
        flex-direction: column;
        justify-content: center;
    }
    header li a {
        font-size: 12px;
    }
}
.img {
    display:inline-block;
    width: 100px;
    height: 145px;
}
@media(max-width: 500px){
    .img {
        margin-left: auto;
        margin-right: auto;
    }
}
.info {
  flex:1;
  margin-left:20px;
}

.info p {
    margin-top: 5px;
}

.info .name {
    font-size: 20px;
    font-weight: 600;
}
@media(max-width: 500px){
    .info{
        margin-left:10px;
        margin-right:10px;

    }
    .info .name {
        font-size: 18px;
    }
}

.info .basic span {
    display: inline-block;
    padding-right:20px;
}

.info .job {
    font-weight: 600;
}

.intro img {
    width: 100px;
}
section{
  /*margin-top:10px;*/
}

section a{
  color:rgb(1, 175, 210);

}
section .header {
    padding-top:10px;
    font-size: 16px;
    font-weight: 600;
    color:rgb(69, 109, 109);
    border-bottom: solid 1px rgb(69, 109, 109);
}

section .body ul li {
    display: flex;
}

section .body ul li  h4{
  font-size:14px;
  font-weight: 600;
}
@media(max-width: 500px){
    section{
        margin-top:6px;
    }
    section .header {
        font-size: 14px;
    }

}
section .body ul li  {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
section .body ul li a {
    display: inline-block;
    padding: 10px;
}
@media(max-width: 500px){
    section .body ul li a {
        padding: 4px;
    }
}

section .body ul li .content {
    margin-top:5px;
    flex-grow:1;
    margin-left: 10px;

}

.program  img {
    width: 100px;
    height: 100px;
}

.workskill .body .content {
      margin-left: 10px;
  }

.other  .body .content {
    margin-left: 10px;
}
.body .content .description{
    margin-top: 5px;
}
@media (min-width: 500px) {
    .body .content .description{
        max-width: 615px;
    }
}
.work{
    page-break-before:always;
}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
      font-size:18px;
}
.edu .body   h4{
    display:flex;
    flex-wrap:wrap ;
    justify-content:space-between;
}
.work .body ul li  h4{
    display:flex;
    justify-content:space-between;

}
@media(min-width:500px){
    .program .body ul .moveUp{
      margin-top: -20px;
    }
}
    .other{
        padding-bottom: 40px;
    }
section p{
    font-size: 14px;
}
section .show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .show p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
